<div class="remove w-16 flex justify-center items-center p-2 bg-transparent transition duration-300 cursor-pointer hover:bg-red-500"
    onclick="app.removeMessageItem(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
        <path class="fill-current" fill="currentColor"
            d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
    </svg>
    <style scoped>
        .remove:hover path {
            fill: white;
        }
    </style>
</div>
